<h1>Editing Team Member Project Score</h1>

<%= render 'form', team_member_project_score: @team_member_project_score %>

<%= link_to 'Show', @team_member_project_score %> |
<%= link_to 'Back', team_member_project_scores_path %>
