<ul>
  <% Course.all.each do |course| %>
    <li><%= link_to course.name, course_path(id: course.id) %></li>
      <%= if course.id = params[:course_id] %>
        <ul>
          <li><%= link_to Evaluations %></li>
          <li>..</li>
          ...
        </ul>
      <% end %>
    </li>
  <% end %>
<ul>