<h2>Edit Project</h2>

<%= render 'form', {project: @project, path: course_project_path(course_id: @project.course_id, id: @project.id) } %>

<%= link_to 'Back', course_path(id: @project.course_id) %>

